/* body{
  background-color:#add8e6;
} */
/* #img_contain{
  border:1px solid grey;
 
  
} */
#file-input{
  width: 200px;
  padding:10px;
  background-color:#3867d6;
  
}
#file-in{
  
  padding:12px;
  background-color:#3867d6;
  color:white;
}

.image-preview{
  height:200px;
  width:200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
  border:1px solid grey;
}